<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.led.spring.stock.mapper.StockMapper">
    <resultMap id="StockResultMap" type="org.led.spring.stock.model.Stock">
        <result property="id" column="id" javaType="String" jdbcType="VARCHAR" />
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR" />
        <result property="price" column="price" javaType="float" jdbcType="REAL" />
    </resultMap>
   
    <select id="getStockById" parameterType="String" resultMap="StockResultMap">
        <![CDATA[
        SELECT id, name, price FROM tb_stock WHERE id = #{id, jdbcType=VARCHAR}
        ]]>
    </select>
    
</mapper>